html {
    background-color: skyblue;
}
.header, .content1, .content2, .version, .thankyou {
    text-align: center;
    font-family: sans-serif;
}
.img1 img {
    border-radius: 50%;
}
.img1 {
    width: fit-content;
    margin: auto;
}