:root {
    --potatoweb-background-debug: lightblue;
    --potatoweb-hover: yellow;
    --potatoweb-align: center;
}
html {
    background-color: var(--potatoweb-background-debug);
}
.content {
    text-align: var(--potatoweb-align);
    font-family: sans-serif;
}
a:hover {
    background-color: var(--potatoweb-hover);
}