:root {
    --potatoweb-background-debug: lightblue; 
}
html {
    background-color: var(--potatoweb-background-debug);
}
.content {
    text-align: center;
    font-family: sans-serif;
}
a:hover {
    background-color: yellow;
}