html {
    background-color: skyblue;
}
.header {
    text-align: center;
    font-family: sans-serif;
}
.content1 {
    text-align: center;
    font-family: sans-serif;
}
.content2 {
    text-align: center;
    font-family: sans-serif;
}
.version {
    text-align: center;
    font-family: sans-serif;
}
.thankyou {
    text-align: center;
    font-family: sans-serif;
}