:root {
    --potatoweb-background-default: skyblue;
}
html {
    background-color: var(--potatoweb-background-default);
}
.header, .content1 {
    font-family: sans-serif;
    text-align: center;
}
a:hover {
    background-color: black;
    color: white;
}