:root {
    --potatoweb-background-default: skyblue;
    --potatoweb-hover-default: yellow;
}
html {
    background-color: var(--potatoweb-background-default);
}
.header, .content1 {
    text-align: center;
    font-family: sans-serif;
}
a:hover {
    background-color: var(--potatoweb-hover-default);
}